h1 {
    padding: 1%;
    margin: 1%;
    text-align: center;
}
input {
    margin: 1%;
    padding: 1%;
    width: 4%;
    border: 1px grey round;
}

li {
    font-size: 24px;
}

.fraction {
    margin: 1%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    font-size: 24px;
}

.fraction>span {
    display: block;
    padding: 0.1em;
}

.fraction>input {
    display: block;
    padding: 0.4em;
    width: 2.5em;
}

.fraction span.fdn {
    border-top: thin solid black;
}

.fraction span.bar {
    display: none;
}

button {
    height: max-content;
    font-weight: bolder;
    padding: 1%;
    margin: 1%;
    background-color: lavender;
}

button:hover {
    background-color: rgba(240, 89, 91, 0.6);
    cursor: pointer;
}

.response-elm {
    margin-left: 3%;
    font-size: large;
}

h3 {
    color: rgb(199, 64, 86);
}