ol, ul {
    font-size: x-large;
    margin: 2%;
}

li {
    margin: 2%;
    font-size: 24px;
}

h1 {
    text-align: center;
}

input {
    margin: 1.5%;
    padding: 1.5%;
    width: 5%;
    border: 1px grey round;
}


button {
    height: max-content;
    font-weight: bolder;
    padding: 1%;
    margin: 1%;
    background-color: lavender;
}

button:hover {
    background-color: rgba(240, 89, 91, 0.6);
    cursor: pointer;
}

.response-elm, .span-PA {
    margin-left: 3%;
    font-size: large;
}

a>button {
    margin-left: 50%;
}

h3 {
    margin-left: 2%;
}


.fraction {
    margin: 1%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    font-size: 24px;
}

.fraction>span {
    display: block;
    padding: 0.1em;
}

.fraction>input {
    display: block;
    padding: 0.4em;
    width: 2.5em;
}

.fraction span.fdn {
    border-top: thin solid black;
}

.fraction span.bar {
    display: none;
}

.num {
    margin-right: -2px;
}

.num-entry {
    width: 8px;
    height: 4px;
    margin-right: -4px;
}