input {
    margin: 1%;
    padding: 1%;
    width: 4%;
    border: 1px grey round;
}

li {
    font-size: 24px;
}

.fraction {
    margin: 1%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    font-size: 24px;
}

.fraction>span {
    display: block;
    padding: 0.1em;
}

.fraction>input {
    display: block;
    padding: 0.5em;
}

.fraction span.fdn {
    border-top: thin solid black;
}

.fraction span.bar {
    display: none;
}
